body {
	margin:0; padding:0;
}
body {
	background: #C0C0C0  0 0 no-repeat fixed; 
	
}
a:link {color: #FFC;}
h5 {
	text-align:center; font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; font-weight: normal; text-transform: lowercase; 
	font-style: normal; line-height: 1em; margin-top: .5em; margin-bottom: .33em
}
h6 {
	text-align: center; font-weight: normal; text-transform: lowercase; 
	line-height: 1em; margin-top: .33em; margin-bottom: .5em
}
p {
	margin:0 1em 1em;
}
div.content a:link {
	color:#FF9;
}
div.content a:visited {
	color:#8000D0;
}
div.content a:hover {
	color:#FF0;
}

image#mast {
	float:left;border:5px solid black;
}

div.masthead { background:#000; 
  position:absolute; left:175px; top:50px; padding: 21px; 
  border:6px solid #FFF; padding:10px; }
 
div.content {
	background:  #000 0 0 no-repeat fixed;
}
div.content {
	position:absolute; top:300px; right: 60px; left: 175px; padding: 40px 0 0 0;
	color:#FFC; font:25px rockwell condensed, sans-serif;
 	border:6px solid #FFF;
}
